.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerWrapper {
  height: 420px;
  width: 400px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  border-radius: 5px;
}
.registerTitle {
  font-size: 30px;
  text-align: center;
  color: rgb(27, 20, 20);
  margin-bottom: 20px;
  font-family: "Varela Round", sans-serif;
  border-bottom: 2px solid blue;
  border-radius: 2px;
}

.registerForm {
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin-top: 15px;
  font-size: 18px;
  color: rgb(77, 72, 72);
}

.registerForm > input {
  border: 1px solid gray;
  height: 30px;
  font-size: 16px;
  padding-left: 5px;
  outline: none;
  margin-top: 10px;
  color: gray;
}

.registerForm > input:focus {
  color: rgb(139, 136, 136);
  border: 2px solid rgb(48, 45, 214);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.regBtn {
  margin-top: 20px;
  font-family: "Varela Round", sans-serif;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgb(129, 84, 211);
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.loginBtn {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  color: rgb(21, 19, 179);
  background-color: transparent;
  font-size: 20px;
  font-family: "Varela", sans-serif;
  font-style: italic;
}
