.login {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginWrapper {
  height: 320px;
  width: 370px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 20px;
  border-radius: 5px;
}
.loginTitle {
  font-size: 30px;
  text-align: center;
  color: rgb(32, 26, 26);
  margin-bottom: 20px;
  font-family: "Varela Round", sans-serif;
  border-bottom: 2px solid blue;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm > label {
  margin-top: 15px;
  font-size: 18px;
  color: rgb(51, 45, 45);
}

.loginForm > input {
  border: 1px solid rgb(127, 127, 138);
  height: 30px;
  font-size: 16px;
  padding-left: 5px;
  outline: none;
  margin-top: 10px;
  color: gray;
}

.loginForm > input:focus {
  color: rgb(139, 136, 136);
  border: 2px solid rgb(64, 92, 214);
}

.loginButton {
  margin-top: 20px;
  font-family: "Varela Round", sans-serif;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  background-color: rgb(129, 84, 211);
  border-radius: 10px;
  color: white;
  font-size: 20px;
}

.loginButton:disabled {
  cursor: not-allowed;
  background-color: rgb(156, 118, 226);
}
.registerBtn {
  background-color: transparent;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  color: blue;
  font-size: 20px;
  border-radius: 10px;
}

.registerBtn::after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}
.registerBtn:hover::after {
  width: 100%;
  background: blue;
}
