.post-detail {
  flex: 9;
}
.Detail-container {
  padding: 20px;
  padding-right: 0;
}

/* .Detail-container img {
  width: 90%;
} */
.cover-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 0px;
}

.post-title {
  text-align: center;
  margin: 15px;
  font-family: "lora", "serif";
  font-size: 25px;
}

.post-title-input {
  text-align: center;
  margin-bottom: 10px;
  font-family: "lora", "serif";
  font-size: 25px;
  width: 80%;
}
.post-title-input:focus {
  outline: none;
}
.PostEdit {
  float: right;
  font-size: 18px;
}

.editIcon {
  margin: 5px;
  cursor: pointer;
  color: teal;
}
.deleteIcon {
  cursor: pointer;
  color: tomato;
}

.post-info {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  margin-bottom: 5px;
  margin-top: 30px;
}

.author {
  color: rgb(104, 104, 190);
  font-style: italic;
}

.updateTime {
  color: #b39656;
}

.post-description {
  font-size: 18px;
  color: #666;
  line-height: 20px;
}
.post-desc-input {
  font-size: 18px;
  color: #666;
  line-height: 20px;
  width: 80%;
}

.post-description::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.post-update-btn {
  border: none;
  background-color: teal;
  border-radius: 5px;
  width: 100px;
  color: white;
  padding: 5px;
  display: block;
  margin-top: 10px;
  cursor: pointer;
}
