.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Lora", serif;
  color: #444;
}
.header-title-sm {
  position: absolute;
  top: 25%;
  font-size: 20px;
}
.header-title-lg {
  position: absolute;
  top: 27%;
  font-size: clamp(2rem, 5vw, 10rem);
}

.header-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: cover;
  margin-top: 5px;
}

@media screen and (min-width: 1024px) {
  .header-title-sm {
    top: 20%;
  }
  .header-title-lg {
    top: 22%;
  }
}
